body{
	text-align: -webkit-center;
}
label{
 font-size: 3em;
}
.form-control{
	width: 40%;
	height: 30px;
}
.checkbox{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 40px;
	margin-left: 20px;
	font-size: 1rem;
}
#form-inline{
	border: dotted rgba(33,33,33,87);
	padding: 20px;
	width: 70%;
	text-align: center;
}
.btn{
   margin-right: 40px;
   margin-left: 20px;
}
